<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>org.jivesoftware.openfire.plugin.UserServicePlugin</class>
    <name>PhoneX</name>
    <description>PhoneX extensions plugin.</description>
    <author>Ph4r05</author>
    <version>1.0.0</version>
    <date>13/03/2015</date>
    <minServerVersion>3.9.0</minServerVersion>
    <databaseKey>userservice</databaseKey>
    <databaseVersion>1</databaseVersion>
    
    <adminconsole>		
        <tab id="tab-server">
            <sidebar id="sidebar-server-settings">
                <item id="user-service" name="User Service" url="user-service.jsp"
                     description="Click to manage the service that allows remote admin of users" />
            </sidebar>
        </tab>
        <tab id="tab-session">
            <!-- Active Sessions -->
            <sidebar id="sidebar-session" name="${sidebar.active-sessions}">
                <item id="session-summary-phonex" name="PhoneX sessions"
                  url="session-summary-phonex.jsp"
                  description="Shows current client sessions w.r.t. PhoneX"/>
            </sidebar>
        </tab>
    </adminconsole>

</plugin>
